<p style="color: green"><%= notice %></p>

<h1>Men</h1>

<div id="men">
  <% @men.each do |man| %>
    <%= render man %>
    <p>
      <%= link_to "Show this man", man %>
    </p>
  <% end %>
</div>

<%= link_to "New man", new_man_path %>
