

<footer class="Footer">
<div class="Container">


  <ul class="Footer-list">
    <li>
      <a href="https://www.facebook.com/tysonsandcompany/" target="_blank">
        <svg viewBox="0 0 220 220" class="icon icon--fill icon--circle" aria-hidden="true"><use xlink:href="#icon-facebook" /></svg>
      </a>
    </li>
    <li>
      <a href="http://instagram.com/tysonsandcompany/" target="_blank">
        <svg viewBox="0 0 220 220" class="icon icon--fill icon--circle" aria-hidden="true"><use xlink:href="#icon-instagram" /></svg>
      </a>
    </li>
  </ul>

  <ul class="Footer-nav">
    <li><a href="https://tysons.shop-pro.jp/secure/?mode=inq&shop_back_url=https%3A%2F%2Fstore.tysons.jp%2F&shop_id=PA01399941">お問い合わせ</a></li>
    <li>|</li>
    <li><a href="https://store.tysons.jp/?mode=sk#payment">お支払い方法について</a></li>
    <li>|</li>
    <li><a href="https://store.tysons.jp/?mode=sk#delivery">配送方法・送料について</a></li>
    <li>|</li>
    <li><a href="https://store.tysons.jp/?mode=sk">特定商取引法に基づく表記</a></li>

  </ul>

  <p class="Footer-copyright">
    Copyright
    <a href="https://www.tysons.jp" target="_blank">
      ARMIS
    </a> All Rights Reserved.
  </p>



</div>

</footer>
